---
import "tw-base"
import Layout from '../layouts/Layout.astro';
import Card from 'components/Card.astro';
import Footer from 'components/Footer.astro';
import Header from 'components/Header.astro';
// import {Image} from "astro:assets"
import Ocean from 'components/Ocean.astro';


const {
  autoplay = true,
  controls = false,
  loop = true,
} = Astro.props

---

<Layout title="Welcome to fish-lsp">
  <div class="relative flex flex-col justify-between min-h-screen overflow-y-hidden">
    <main class="max-h-full mb-auto content-wrapper">
      <Header />
      <div class="pt-2 pb-2">
        <p id="description" class="py-4 px-4">
          <a href="https://github.com/ndonfris/fish-lsp"><strong class="text-gradient">fish-lsp</strong></a> is a <a href="https://lsif.dev/">language server protocol (LSP)</a>
          implementation for the  <a href="https://fishshell.com/">fish shell</a>. It aims to provide a rich set of features
          including: <i>auto-completion</i>, <i>hover</i>, <i>go-to references</i>, and <i>many others</i>.
        </p>

        <!-- <br class="h-2 y-2" /> -->
        <!-- <p class="py-2">items</p> -->
        <!-- <ul class="list-disc pl-14"> -->
        <!--   <li>a</li> -->
        <!--   <li>b</li> -->
        <!-- </ul> -->

        <p class="py-5 text-purple-300 underline text-md underline-offset-1 text-gradient"> client usage demo: </p>
        <img class="px-4" src="new_output.gif" />
        <p class="pt-5 underline text-md text-fuchsia-300 underline-offset-1 text-gradient"> sever help output: </p>
        <a href="https://github.com/ndonfris/fish-lsp" class="px-4">
          <img src="/help-msg-new.png" alt="output built by freeze `fish --help`" class="px-4" />
        </a>
      </div>

      <br />

      <ul role="list" class="link-card-grid">
        <!-- <Card -->
        <!--   href="https://github.com/ndonfris/fish-lsp/" -->
        <!--   title="github repo" -->
        <!--   body="source code for the project." -->
        <!-- /> -->
        <!-- <Card -->
        <!--   href="https://www.npmjs.com/package/fish-lsp/" -->
        <!--   title="npm package" -->
        <!--   body="release avaliable on node package manager." -->
        <!-- /> -->
        <Card
          href="https://github.com/ndonfris/fish-lsp-language-clients"
          title="Integrations"
          body="vscode, vim, neovim, helix, and more."
        />
        <Card
          href="https://github.com/ndonfris/fish-lsp/discussions/"
          title="Discussions"
          body="Introduce your own ideas"
        />
        <Card
          href="https://github.com/ndonfris/fish-lsp/blob/master/docs/ROADMAP.md"
          title="Roadmap"
          body="Help implement current project goals"
        />
        <Card
          href="https://github.com/ndonfris/fish-lsp/blob/master/docs/CONTRIBUTING.md"
          title="Contributing Guide"
          body="Read the guidlines for contributing to the project"
        />
      </ul>

      <!-- <video controls={false} autoplay={true} loop={true} start={true} speed="2"> -->
      <!--   <source src="demo-video.mp4" /> -->
      <!-- </video> -->

    </main>
    <Ocean>
      <Footer />
    </Ocean>
  </div>
</Layout>

<style>
main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
}
.astro-a {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translatex(-50%);
  width: 220px;
  height: auto;
  z-index: -1;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.instructions {
  margin-bottom: 2rem;
  border: 1px solid rgba(var(--accent-light), 25%);
  background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
  padding: 1.5rem;
  border-radius: 8px;
}
.instructions code {
  font-size: 0.8em;
  font-weight: bold;
  background: rgba(var(--accent-light), 12%);
  color: rgb(var(--accent-light));
  border-radius: 4px;
  padding: 0.3em 0.4em;
}
.instructions strong {
  color: rgb(var(--accent-light));
}
.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 2rem;
  padding: 0;
}
#description a {
  color: rgba(156,92, 238, 0.9);
  text-decoration: underline;
}

#description i {
  color: rgb(184 138 243);
  text-decoration: underline;
}
 /* Adjustments for the content wrapper */
/* .content-wrapper { */
/*   max-width: 800px; */
/*   margin: auto; */
/*   padding: 0; */
/* } */
</style>
